data/raw_reads/raw_sra/
data/raw_reads/raw_fastq/
results/fastqc_trimmed/
results/fastqc_raw/
results/multiqc_raw/
results/multiqc_trimmed/

# SRA cache
~/ncbi/

# Log files
*.log 
logs/
